{% extends "base_container.html" %}

{% block body-content %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button"
            aria-expanded="false"
            aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="{% url 'app.homepage' %}">Accueil {{ ads_manager_administrator.prefecture.display_text|capfirst }}</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link"
             href="{% url 'app.ads-manager-admin.vehicules_relais' prefecture_id=ads_manager_administrator.prefecture.id %}">Répertoire des taxis relais</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Véhicule {{ vehicule.numero }}</a>
        </li>
      </ol>
    </div>
  </nav>

  <h1>Informations du taxi relais n°{{ vehicule.numero }}</h1>
  <div class="fr-table fr-table--lg">
    <div class="fr-table__wrapper">
      <div class="fr-table__container">
        <div class="fr-table__content">
          <table>
            <caption>ℹ️ Informations sur le propriétaire du véhicule</caption>
            <tr>
              <th>Nom</th>
              <td>{{ vehicule.proprietaire.nom }}</td>
            </tr>
            <tr>
              <th>SIRET</th>
              <td>{{ vehicule.proprietaire.siret|default:"-" }}</td>
            </tr>
            <tr>
              <th>Tél.</th>
              <td>{{ vehicule.proprietaire.telephone|default:"-" }}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{ vehicule.proprietaire.email|default:"-" }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-table fr-table--lg">
    <div class="fr-table__wrapper">
      <div class="fr-table__container">
        <div class="fr-table__content">
          <table>
            <caption>🔎 Localisation du véhicule</caption>
            <tr>
              <th>Ville</th>
              <td>
                {% if vehicule.commune_localisation %}
                  {{ vehicule.commune_localisation.libelle }} ({{ vehicule.commune_localisation.departement }})
                {% else %}
                  -
                {% endif %}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="fr-col-12 fr-table fr-table--lg">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table>
              <caption>🚖 Caractéristiques du véhicule</caption>
              <tr>
                <th>Numéro du taxi relais</th>
                <td>
                  <strong>{{ vehicule.numero }}</strong>
                </td>
              </tr>
              <tr>
                <th>Immatriculation du véhicule</th>
                <td>{{ vehicule.immatriculation|default:"-" }}</td>
              </tr>
              <tr>
                <th>Modèle du véhicule</th>
                <td>{{ vehicule.modele|default:"-" }}</td>
              </tr>
              <tr>
                <th>Date de mise en circulation</th>
                <td>{{ vehicule.date_mise_circulation|default:"-" }}</td>
              </tr>
              <tr>
                <th>Nombre de places</th>
                <td>{{ vehicule.nombre_places|default:"-" }}</td>
              </tr>
              <tr>
                <th>Accès PMR ?</th>
                <td>
                  {% if vehicule.pmr is True %}
                    Oui
                  {% elif vehicule.pmr is False %}
                    Non
                  {% else %}
                    -
                  {% endif %}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-input-group">
    <ul class="fr-btns-group">
      <li>
        <a href="{% url 'vehicules-relais.proprietaire.vehicule.edit' proprietaire_id=vehicule.proprietaire_id vehicule_numero=vehicule.numero %}" class="fr-btn">
            Modifier le véhicule
        </a>
      </li>
      <li>
        <a class="fr-link fr-icon-delete-line fr-link--icon-left !text-[var(--text-default-error)]"
            href="{% url 'vehicules-relais.proprietaire.vehicule.delete' proprietaire_id=vehicule.proprietaire_id vehicule_numero=vehicule.numero %}">Supprimer ce véhicule</a>
      </li>
    </ul>
  </div>
{% endblock body-content %}
