{% extends "base_container.html" %}
{% load show_pagination_links %}

{% block breadcrumb %}
  <li>
    <a class="fr-breadcrumb__link" href="{% url 'app.homepage' %}">Accueil</a>
  </li>
  <li>
    <a class="fr-breadcrumb__link" href="{% url 'vehicules-relais.index' %}">Répertoires des taxis relais</a>
  </li>
  <li>
    <a class="fr-breadcrumb__link"
        href="{% url 'vehicules-relais.proprietaire' %}">Espace propriétaire</a>
  </li>
  <li>
    <a class="fr-breadcrumb__link" aria-current="page">{{ object.nom }}</a>
  </li>
{% endblock %}

{% block body-content %}

<h1>Mon espace propriétaire — {{ object.nom }}</h1>

{% if user.is_staff %}
    <p>
      <span aria-hidden="true">🕰️</span><a class="fr-link fr-icon-arrow-right-line fr-link--icon-right"
   href="{% url 'vehicules-relais.proprietaire.history' proprietaire_id=object.id %}">
      Voir l'historique des modifications <small>(lien uniquement dispo pour l'équipe MesADS)</small>
    </a>
  </p>
{% endif %}

<p>
  <a class="fr-link fr-icon-delete-line fr-link--icon-left !text-[var(--text-default-error)]"
      href="{% url 'vehicules-relais.proprietaire.delete' proprietaire_id=object.id %}">Supprimer mon espace propriétaire</a>
</p>

<h2 class="fr-h4">Mes coordonnées</h2>
<p>
  <span aria-hidden="true">📄</span> <a class="fr-link fr-icon-arrow-right-line fr-link--icon-right"
   href="{% url 'vehicules-relais.proprietaire.edit' proprietaire_id=object.id %}">Modifier mes coordonnées</a>
</p>

<div class="fr-table fr-table--md fr-table--no-caption">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table>
          <caption>Mes coordonnées</caption>
          <tr>
            <th>Nom</th>
            <td>{{ object.nom }}</td>
          </tr>
          <tr>
            <th>Numéro SIRET</th>
            <td>{{ object.siret|default:"-" }}</td>
          </tr>
          <tr>
            <th>Numéro de téléphone</th>
            <td>{{ object.telephone|default:"-" }}</td>
          </tr>
          <tr>
            <th>Adresse mail de contact</th>
            <td>{{ object.email|default:"-" }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<h2 class="fr-h4">Mes véhicules enregistrés</h2>
<p>
  <span aria-hidden="true">🚖</span> <a class="fr-link fr-icon-arrow-right-line fr-link--icon-right"
   href="{% url 'vehicules-relais.proprietaire.vehicule.new' proprietaire_id=object.id %}">
  Enregistrer un nouveau véhicule
</a>
</p>
<div class="fr-table fr-table--md fr-table--no-scroll fr-table--no-caption">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table>
          <caption>Mes véhicules enregistrés</caption>
          <thead>
            <tr>
              <th>Département</th>
              <th>Numéro du véhicule</th>
              <th>Marque et modèle</th>
              <th>Immatriculation</th>
              <th>Détails</th>
            </tr>
          </thead>
          <tbody>
            {% for vehicule in object_list %}
              <tr>
                <td>{{ vehicule.departement.numero }} - {{ vehicule.departement.libelle }}</td>
                <td>{{ vehicule.numero }}</td>
                <td>{{ vehicule.modele|default:"-" }}</td>
                <td>{{ vehicule.immatriculation|default:"-" }}</td>
                <td>
                  <a href="{% url 'vehicules-relais.proprietaire.vehicule.edit' proprietaire_id=vehicule.proprietaire_id vehicule_numero=vehicule.numero %}">Afficher les détails</a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="5">Aucun véhicule enregistré</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% show_pagination_links page_obj %}
</div>
{% endblock body-content %}
