{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block content %}
  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}

    <fieldset class="module aligned">
        {{ form.as_p }}
    </fieldset>

    <div class="submit-row">
      <input type="submit" value="Importer" class="default">

      <a href="{% url 'admin:app_adsmanager_change' original.pk %}" class="button cancel-link">
        Annuler
      </a>
    </div>
  </form>
{% endblock %}